@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is lab5, it gives access to labs 1 through 3.</p>
    <br/>
    <p>Lab1</p>
    <p>Vasya is in the third grade and now he is studying "Simple fractions with natural numerators and denominator". It turns out that a fraction is called regular if its numerator is less than the denominator, and irreducible if the numerator and denominator are mutually prime. Vasya is very fond of mathematics and therefore he solves many problems at home. At the moment, Bob is looking for the largest regular irreducible fraction, whose sum of the numerator and denominator is N.</p>
    <br/>
    <p>Lab2</p>
    <p>
        It is necessary to calculate the number of N-digit numbers in a number system with base K, such that their notation does not contain two consecutive zeros.
        Input
        The two natural numbers N and K in decimal notation (2 ≤ K ≤ 10; 2 ≤ N; 4 ≤ N+K ≤ 18).
        Output
        An integer in decimal notation is the answer to the problem.
    </p>
    <br/>
    <p>Lab3</p>
    <p>On a standard chessboard (8x8) there are 2 chess knights: red and green. Usually they gallop carelessly across the expanses of the board, pinching the chessboard, but today is a special day: the green horse has a birthday. The Green Horse decided to celebrate this event with the Red Horse. But to carry out this wonderful plan, they need to be on the same cage. Note that red and green chess knights are very different from black and white: they do not move alternately, but simultaneously, and if they find themselves on the same cage, no one eats anyone. How many moves do they need to enjoy the holiday?</p>
</div>
